<nav>
  <a [routerLink]="['/books/dashboard']" routerLinkActive="active">Home</a>
  <a [routerLink]="['/register']" routerLinkActive="active">Register</a>
  <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
  <a [routerLink]="['/books']" routerLinkActive="active">Books</a>
  <a [routerLink]="['/books/dashboard']" routerLinkActive="active">Dashboard</a>
  <a [routerLink]="['/sort']" routerLinkActive="active">Sorting</a>
  <a [routerLink]="['/allBooks']" routerLinkActive="active">All Books</a>
  <!-- <a [routerLink]="['/custom-form']" routerLinkActive="active">Custom Form</a> -->
  <a routerLink="/custom-form" routerLinkActive="active">Custom Form</a>
  <!-- <a routerLink="/nested" routerLinkActive="active">Nested Component</a> -->

  <button (click)="show=!show">View Course List</button>
</nav>
<div *ngIf="show">
  <app-courses-list></app-courses-list>
</div>
<router-outlet></router-outlet>