<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div class="grid-container">
    <div class="r1">
        <div class="display-4">Quater Details</div>
        <br>
        <div class="qd">
            Quarter Details available of:
            <span class="badge">Q3 2018</span> &nbsp;
            <span class="badge">Q4 2018</span> &nbsp;
            <span class="badge">Q1 2019</span> &nbsp;
            <span class="badge">Q2 2019</span> &nbsp;
            <span class="badge">Q3 2019</span> &nbsp;
            <span class="badge">Q4 2019</span> &nbsp;
            <span class="badge">Q1 2020</span>
        </div>

        <!-- implement a reactive form that have two input fields and a button to collect the quater and financial year detail
        <form>    </form> -->

    </div>
    <!-- implement a table to show the details of the quater selected if the quater detail is available -->
    <div *ngIf="showError" class="error">
        <h4><span class="fas fa-cat"></span> {{errorMessage}}</h4>
    </div>
</div>