<h3 style="position: relative; left: 60px">Login</h3>

<div *ngIf="invalidCredentialMsg" style="color: red">
  {{ invalidCredentialMsg }}
</div>
<div style="position: relative; left: 20px">
  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <p>User Name <input formControlName="username" /></p>
    <p>
      Password
      <input
        type="password"
        formControlName="password"
        style="position: relative; left: 10px"
      />
    </p>
    <p><button type="submit">Submit</button></p>
  </form>
</div>
