<div class="body">
  <div class="grid-container">
    <div class="aboutus">
      <div class="subgrid1">About XYZPharma</div>
      <hr>
      <div class="aboutContent">
        <!-- code here to display aboutUsDetail -->
      </div>
    </div>
    <div class="awards">
      <div class="subgrid1">
        Awards
      </div>
      <hr>
              <!-- code here to display awards won as a list -->
    </div>
    <div class="contact">
      <div class="subgrid1">
        Contact Us
      </div>
      <hr>
      <div class="subgrid2">
        <div class="sub1"><strong>Head Office:</strong> <br>
          <div>
            XYZPharma <br>
            Pharma House, MountValley <br>
            SH Marg, Mumbai <br>
            400201
          </div>
        </div>
        <div class="sub2">
          <div><strong>Business Hours</strong></div>
          <div>24X7</div>
          <div>Contact before visiting: 9011236784</div>
        </div>
      </div>
    </div>
  </div>
</div>